<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Lector QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!-- Contenedor donde se dibuja la cámara -->
  <div id="reader" style="width: 100%; max-width: 350px; margin: auto;"></div>

  @if (resultado) {
    <ion-card class="ion-margin-top">
      <ion-card-header>
        <ion-card-title>Contenido Escaneado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="word-break: break-all; font-weight: bold; color: green;">{{ resultado }}</p>
      </ion-card-content>
    </ion-card>
  }
</ion-content>